@model Cooking_App.Models.Receipe

<html>
<head>

    <link href="~/Content/StateWiseMenu.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid" style="margin-top:20px">
        <div class="row">
            <div class="col-md-4">
                <a id="backme" asp-action="VNBMenu" asp-controller="Main" style="color:blue">>>  Veg_NonVeg_Beverage_Menu</a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <h3 style="color:blue;font-weight:600">@ViewBag.Vnb</h3>
            </div>
            <div class="col-md-3">
                <button type="button" style="margin-left:50px" class="button" data-bs-toggle="modal" data-bs-target="#testmodal1">
                    <span class="button__text">Add New</span>
                    <span class="button__icon">
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </span>
                </button>
            </div>
           
        </div>
    </div>

    <div class="container-fluid" style="margin-top:20px;">
        <div class="row">

            @foreach (Cooking_App.Models.Receipe m in ViewBag.List)
            {
                <div class="col-md-4" style="margin-top:20px">
                    <div class="card" style="width: 18rem;border-radius:4px 4px">
                        <img src="~/NewlyAddedImg/@m.Photo" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title" style="font-weight:500;color:blue">@m.RName</h3>
                        </div>
                        <div class="card-body">
                            <span id="actlink" style="background: #3498DB;border-radius: 4px 5px;padding: 5px;border-top:1px solid #EAECEE">@Html.ActionLink("View Receipe", "Info", new { @id = m.RId })</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
